button.back {
    background-color: #4CAF50;
    color: black;
    border: 0.25vw solid #4CAF50;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
    margin: 0.5vw 0.25vw;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1.5vw;
    width: 12vw
}

button.back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button.back span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2.5vw;
    transition: 0.5s;
}

button.back:hover {
    background-color: white;
    color: #4CAF50;
    box-shadow: 0 1.5vw 2vw 0 rgba(0, 0, 0, 0.24), 0 2.125vw 6.25vw 0 rgba(0, 0, 0, 0.19);
}

button.back:hover span {
    padding-right: 3.125vw;
}

button.back:hover span:after {
    opacity: 1;
    right: 0;
}
